# Nétoyage du jeu de données

In [1]:
import pandas as pd 
import numpy as np

In [2]:
# Chemin vers le fichier csv contenant les données à explorer.
path = "data/original/mower_market_snapshot.csv"

# Chemin vers le répertoire où seront stockées les données nétoyées.
path_out = "data/cleaned/mower_market_snapshot_cleaned.csv"

# Délimiteur utilisé dans le fichier csv
delimiter=";"

# Toutes les valeurs à reconnaître comme des nan.
na_values = ['','unknown',-64]

# Création de la dataframe à partir du fichier csv
mower_df = pd.read_csv(path, delimiter=delimiter, na_values=na_values)

## 1. Travail sur la variable "coût de production"

Nous avons déjà filtré les valeurs abérantes lors du chargement de la dataframe : "", "unknown" ou encore -64. Nous allons dans un premier temps remplacer tous les "nan" par la valeur 0.

In [3]:
# On remplace tous les "nan" par 0
mower_df.prod_cost.fillna(value=0.0, inplace=True)

Maintenant, il sagit de remplacer cette valeure 0, qui reste une valeur abérante. L'approche que nous avons séléctionnée consiste à appliquer la médiane (moins sensible aux valeurs extrêmes) à chacune des valeur nulle. Cependant, nous n'allons pas utiliser la médiane générale mais plutôt la médiane correpondant à chaque **type de produit** pour chaque **indice de qualité**.

In [4]:
# On regroupe la dataframe initiale par qualité et par type de produit
mower_by_quality_by_type  = mower_df[mower_df.prod_cost != 0].groupby(by=["quality", "product_type"])

# medianes pour chaque type, pour chaque indice de qualité
median = mower_by_quality_by_type.prod_cost.median()

# dictionnaire à appliquer que la variable "coût de production"
median_dict = {(-1, 1): None,
               (-1, 2): None,
               (-1, 3): None,
               (0, 1): None,
               (0, 2): None,
               (0, 3): None,
               (1, 1): None,
               (1, 2): None,
               (1, 3): None
              }

for key in mower_by_quality_by_type.prod_cost.groups.keys():
    median_dict[key] = np.median(mower_by_quality_by_type.prod_cost.get_group(key))

In [5]:
# Modifications des valeurs nulles pour la variable "coût de production"
key = (None, None)
for line in range(mower_df.prod_cost.size):
    key = (mower_df["quality"][line], mower_df["product_type"][line])
    prod_cost = mower_df["prod_cost"][line]
    
    if prod_cost == 0:
        mower_df.set_value(line, "prod_cost", median_dict[key])

In [6]:
# On s'assure que la modification permet d'avoir une variable "coût de production cohérente".
mower_df.describe(include='all')

,capacity,failure_rate,id,margin,price,prod_cost,product_type,quality,warranty,market_share,attractiveness
count,1399.000000,1399.000000,1399.000000,1399.000000,1399.000000,1399.000000,1399,1399,1399,1399.000000,1399.000000
unique,NaN,NaN,NaN,NaN,NaN,NaN,3,3,27,NaN,NaN
top,NaN,NaN,NaN,NaN,NaN,NaN,essence,Low,1 an.,NaN,NaN
freq,NaN,NaN,NaN,NaN,NaN,NaN,844,971,103,NaN,NaN
mean,47.663266,0.166448,18958.000000,186.262609,260.075165,57.821619,NaN,NaN,NaN,0.002144,0.636507
std,19.840501,0.073605,404.000825,191.011102,259.949127,60.372861,NaN,NaN,NaN,0.001790,0.124016
min,0.013884,0.028906,18259.000000,52.943989,62.162200,7.095443,NaN,NaN,NaN,0.000564,0.297384
25%,35.853890,0.095678,18608.500000,62.247602,73.379425,10.856096,NaN,NaN,NaN,0.001135,0.549369
50%,50.309242,0.199796,18958.000000,66.299672,78.439753,12.220196,NaN,NaN,NaN,0.001399,0.641351
75%,61.905015,0.228011,19307.500000,265.370973,384.265263,113.929985,NaN,NaN,NaN,0.002446,0.726746
max,104.614865,0.302465,19657.000000,790.012898,964.973926,210.984941,NaN,NaN,NaN,0.009314,0.952877

## 2. Travail sur la variable "capacité"

Dans l'étape précédente, nous avons remarqué que la variable "capacité" était parfois inférieure à 1. Ceci va à l'encontre de la dimension supposée (Litrage). Une valeur inférieur à 1, dans notre cas, signifie probablement que la capacité a été insérée en $m^{3}$. Pour s'en assurer, il faudrait revérifier avec le métier.

In [7]:
for line in range(mower_df.prod_cost.size):
    capacity = mower_df["capacity"][line]
    
    if capacity < 1.:
        # Convertion en litres des données en m^3
        mower_df.set_value(line, "capacity", capacity * 1000)

## 3. Travail sur la variable "warranty"

Enfin, nous allons uniformiser la variable "warranty". Pour plus de confort, nous allons la passer en variable entière et l'uniformiser.

In [8]:
for line in range(mower_df.warranty.size):
    warranty = mower_df["warranty"][line]
    mower_df.set_value(line, "warranty", np.int(warranty[0]))

## 4. Corrélations

Avant de sauvegarder l'ensemble de données, nous allons étudier les différentes corrélations entre les variables pour voir si certaines ne peuvent pas être retirées. 

### 4.1. Corrélations des variables continues

In [9]:
mower_df.corr(method='spearman')

,capacity,failure_rate,id,margin,price,prod_cost,market_share,attractiveness
capacity,1.000000,0.674601,-0.042423,-0.624536,-0.571099,-0.653885,-0.568004,0.041825
failure_rate,0.674601,1.000000,-0.020989,-0.764890,-0.697592,-0.761458,-0.740422,-0.133928
id,-0.042423,-0.020989,1.000000,0.040893,0.030357,0.043071,0.026769,-0.002569
margin,-0.624536,-0.764890,0.040893,1.000000,0.900238,0.795176,0.593724,-0.128454
price,-0.571099,-0.697592,0.030357,0.900238,1.000000,0.801597,0.526014,-0.154967
prod_cost,-0.653885,-0.761458,0.043071,0.795176,0.801597,1.000000,0.664326,-0.003017
market_share,-0.568004,-0.740422,0.026769,0.593724,0.526014,0.664326,1.000000,0.606951
attractiveness,0.041825,-0.133928,-0.002569,-0.128454,-0.154967,-0.003017,0.606951,1.000000

On remarque que certaines variable sont fortement corrélées aux autres : 

* la marge
* la part de marché
* le coût de production

Nous allons donc les exclures pour la partie modélisation.

In [10]:
mower_df.drop(labels="margin", axis=1, inplace=True)
mower_df.drop(labels="market_share", axis=1, inplace=True)
mower_df.drop(labels="prod_cost", axis=1, inplace=True)

### 4.2 Corrélations des variables catégorielles

#### 4.2.1. Product type & warranty

In [11]:
mower_by_type_by_warranty = mower_df.groupby(["product_type", "warranty"])

In [12]:
mower_by_type_by_warranty.count()

,,capacity,failure_rate,id,price,quality,attractiveness
product_type,warranty,,,,,,
auto-portee,3,142,142,142,142,142,142
electrique,2,413,413,413,413,413,413
essence,1,844,844,844,844,844,844

Nous remarquons que la variable "product_type" nous donne la "garantie". Nous allons donc supprimer la variable "garantie" qui n'était pas présente initialement.

#### 4.2.2. Product type & quality

In [13]:
mower_by_type_by_quality = mower_df.groupby(["product_type", "quality"])
mower_by_type_by_quality.count()

                      capacity  failure_rate   id  price  warranty  \
product_type quality
auto-portee  Hight          16            16   16     16        16
             Low            96            96   96     96        96
             Medium         30            30   30     30        30
electrique   Hight          44            44   44     44        44
             Low           287           287  287    287       287
             Medium         82            82   82     82        82
essence      Hight          73            73   73     73        73
             Low           588           588  588    588       588
             Medium        183           183  183    183       183

                      attractiveness
product_type quality
auto-portee  Hight                16
             Low                  96
             Medium               30
electrique   Hight                44
             Low                 287
             Medium               82
essence      Hight                73
             Low                 588
             Medium              183

#### 4.2.2. Product type & quality

In [14]:
mower_by_quality_by_warranty = mower_df.groupby(["quality", "warranty"])
mower_by_quality_by_warranty.count()

                  capacity  failure_rate   id  price  product_type  \
quality warranty
Hight   1               73            73   73     73            73
        2               44            44   44     44            44
        3               16            16   16     16            16
Low     1              588           588  588    588           588
        2              287           287  287    287           287
        3               96            96   96     96            96
Medium  1              183           183  183    183           183
        2               82            82   82     82            82
        3               30            30   30     30            30

                  attractiveness
quality warranty
Hight   1                     73
        2                     44
        3                     16
Low     1                    588
        2                    287
        3                     96
Medium  1                    183
        2                     82
        3                     30

In [15]:
# suppression de la variable "warranty"
mower_df.drop(labels="warranty", axis=1, inplace=True)

## 5. Traitement des variables catégorielles

In [16]:
mowerByQuality = mower_df.groupby("quality")
mowerByQuality.id.count()

quality
Hight     133
Low       971
Medium    295
Name: id, dtype: int64

Si l'on regarde la répartition des tondeuses par qualité, on remarque qu'elle est très disparate, il faut donc **binariser** nos variables catégorielles.

In [17]:
# Binarisation des variables catégorielles
mower_cat = pd.get_dummies(mower_df)
mower_cat

,capacity,failure_rate,id,price,attractiveness,product_type_auto-portee,product_type_electrique,product_type_essence,quality_Hight,quality_Low,quality_Medium
0,10.492623,0.042528,18377,828.802103,0.650648,1.0,0.0,0.0,0.0,1.0,0.0
1,20.273730,0.037896,19363,882.894916,0.699792,1.0,0.0,0.0,0.0,1.0,0.0
2,20.190457,0.039111,19641,919.355522,0.632129,1.0,0.0,0.0,0.0,1.0,0.0
3,27.220131,0.041303,18728,817.085097,0.810730,1.0,0.0,0.0,0.0,1.0,0.0
4,16.370911,0.037938,18722,844.581465,0.757614,1.0,0.0,0.0,0.0,0.0,1.0
5,19.548213,0.035428,18268,905.297503,0.777051,1.0,0.0,0.0,0.0,0.0,1.0
6,12.242635,0.035492,18448,930.615022,0.766056,1.0,0.0,0.0,1.0,0.0,0.0
7,8.676314,0.042066,18943,818.075591,0.541318,1.0,0.0,0.0,0.0,1.0,0.0
8,15.264180,0.038804,19640,816.774028,0.620278,1.0,0.0,0.0,0.0,1.0,0.0
9,16.190545,0.034045,19559,814.799650,0.583117,1.0,0.0,0.0,0.0,1.0,0.0
10,14.028989,0.034757,19560,785.615675,0.762884,1.0,0.0,0.0,0.0,1.0,0.0
11,15.926414,0.037488,18922,871.147948,0.741459,1.0,0.0,0.0,0.0,0.0,1.0
12,14.318660,0.037684,18858,819.838099,0.707789,1.0,0.0,0.0,0.0,1.0,0.0
13,19.896179,0.040934,19307,830.373642,0.618644,1.0,0.0,0.0,0.0,1.0,0.0
14,18.925359,0.029028,19177,874.528101,0.654611,1.0,0.0,0.0,0.0,1.0,0.0
15,14.319928,0.040453,19275,932.020559,0.766498,1.0,0.0,0.0,0.0,0.0,1.0
16,11.181391,0.039208,19478,852.037497,0.621991,1.0,0.0,0.0,0.0,1.0,0.0
17,22.824634,0.032932,18969,848.527485,0.799126,1.0,0.0,0.0,0.0,0.0,1.0
18,25.622312,0.038356,18965,882.086532,0.878160,1.0,0.0,0.0,1.0,0.0,0.0
19,27.610500,0.041601,19376,814.524030,0.624247,1.0,0.0,0.0,0.0,1.0,0.0
20,18.043487,0.030080,19509,827.985533,0.740156,1.0,0.0,0.0,0.0,1.0,0.0
21,16.129713,0.040868,18361,843.729983,0.637720,1.0,0.0,0.0,0.0,1.0,0.0
22,8.211970,0.034262,18977,834.984548,0.659051,1.0,0.0,0.0,0.0,1.0,0.0
23,27.484897,0.035069,19257,838.865752,0.876942,1.0,0.0,0.0,0.0,0.0,1.0
24,21.720148,0.035431,18495,840.411156,0.780437,1.0,0.0,0.0,0.0,0.0,1.0
25,20.231973,0.041615,18809,845.858942,0.709330,1.0,0.0,0.0,0.0,1.0,0.0
26,20.928618,0.037014,19104,752.739341,0.581701,1.0,0.0,0.0,0.0,1.0,0.0
27,17.062739,0.031948,18876,891.334311,0.878246,1.0,0.0,0.0,1.0,0.0,0.0
28,21.792640,0.038328,18536,846.329547,0.709549,1.0,0.0,0.0,0.0,1.0,0.0
29,28.732437,0.031813,19031,964.973926,0.818482,1.0,0.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
1369,49.590366,0.209080,18914,72.496522,0.549627,0.0,0.0,1.0,0.0,1.0,0.0
1370,62.060763,0.194436,18340,78.341434,0.601384,0.0,0.0,1.0,0.0,0.0,1.0
1371,62.461930,0.221529,19036,77.769715,0.533320,0.0,0.0,1.0,0.0,1.0,0.0
1372,75.150330,0.204986,19552,70.617876,0.825139,0.0,0.0,1.0,0.0,1.0,0.0
1373,69.419877,0.218645,18672,863.736257,0.668634,0.0,0.0,1.0,0.0,1.0,0.0
1374,58.825520,0.225132,18600,73.263778,0.569230,0.0,0.0,1.0,0.0,1.0,0.0
1375,61.873397,0.259814,19586,69.341855,0.854923,0.0,0.0,1.0,1.0,0.0,0.0
1376,62.157540,0.213768,18841,76.887613,0.610553,0.0,0.0,1.0,0.0,1.0,0.0
1377,67.275887,0.209996,18313,74.384568,0.519148,0.0,0.0,1.0,0.0,1.0,0.0
1378,45.277486,0.221461,19165,75.954893,0.388462,0.0,0.0,1.0,0.0,1.0,0.0
1379,67.851696,0.223734,18274,76.741522,0.741746,0.0,0.0,1.0,0.0,0.0,1.0
1380,57.505967,0.249277,18787,73.771107,0.501377,0.0,0.0,1.0,0.0,1.0,0.0
1381,64.606123,0.194852,19052,74.546827,0.621001,0.0,0.0,1.0,0.0,1.0,0.0
1382,64.262408,0.232493,18880,76.341530,0.621299,0.0,0.0,1.0,0.0,1.0,0.0
1383,49.677345,0.256845,18978,70.053411,0.708046,0.0,0.0,1.0,0.0,1.0,0.0
1384,55.503349,0.220019,19537,71.381237,0.693125,0.0,0.0,1.0,0.0,0.0,1.0
1385,65.996715,0.234680,19569,73.461685,0.827282,0.0,0.0,1.0,0.0,0.0,1.0
1386,50.341477,0.184653,18902,68.267681,0.706931,0.0,0.0,1.0,0.0,1.0,0.0
1387,56.962365,0.199166,18625,74.762011,0.702132,0.0,0.0,1.0,0.0,0.0,1.0
1388,61.640047,0.213627,18279,78.382424,0.465321,0.0,0.0,1.0,0.0,1.0,0.0
1389,56.466095,0.247736,19182,67.485880,0.703324,0.0,0.0,1.0,0.0,1.0,0.0
1390,50.359890,0.204743,18296,72.714737,0.794333,0.0,0.0,1.0,0.0,0.0,1.0
1391,44.745485,0.210755,19187,77.364718,0.530661,0.0,0.0,1.0,1.0,0.0,0.0
1392,61.018405,0.193229,18572,76.931706,0.557520,0.0,0.0,1.0,0.0,0.0,1.0
1393,40.831294,0.217289,18950,69.391858,0.613849,0.0,0.0,1.0,0.0,1.0,0.0
1394,44.959895,0.234647,18451,75.161102,0.513126,0.0,0.0,1.0,0.0,0.0,1.0
1395,59.356058,0.253694,18663,75.395132,0.547739,0.0,0.0,1.0,0.0,1.0,0.0
1396,67.865222,0.228935,19169,810.883148,0.655622,0.0,0.0,1.0,0.0,1.0,0.0
1397,66.855435,0.244948,18946,68.491318,0.867537,0.0,0.0,1.0,0.0,1.0,0.0
1398,54.712713,0.177143,19017,74.955428,0.538969,0.0,0.0,1.0,0.0,1.0,0.0

In [18]:
# On enregistre la dataframe au format csv.
mower_cat.to_csv(path_or_buf=path_out, sep=',', index=False)